input.from.from-control {
    font-size: 38px;
    padding: 1px 16px;
    border: navy;
    background: aliceblue;
    padding-bottom: 10p;
}

div#Bottm0 {
    margin-top: 20px;
}
button.btn.btn-outline-primary {
    /* margin: 17px; */
    padding: 20px 31px;
    font-size: 28px;
    margin: -6px 5px;
}
input.from.from-control {
    font-size: 38px;
    padding: 8px 31px;
    border: navy;
    background: aliceblue;
    margin-top: 42px;
    border-radius: 4px;
    outline: none;
}
.Calcutltor {
    width: 509px;
    margin: auto;
    margin-top: 15px;
    background: black;
    padding-bottom: 22px;
    border-radius: 5px;
}